h1{
    color: brown;
    background-color: aquamarine;
}
h2{
    color: aquamarine;

    background-color: blueviolet;
}
h3{
    color: blue;
    background-color: blanchedalmond;
}
body{
    margin: 30px;
}
